<div>
  {{#link-to "items.new" class="btn btn-default"}}Create new item{{/link-to}}

  <ul class="items">
    {{#each item in items}}
      <li class="list-group-item">
        {{ item.number }} ({{l item.date }})<br>
        {{ item.totalWithTax }}
      </li>
    {{/each}}
  </ul>
</div>