<div class="row">
  <div class="large-12 columns">
    <div class="month">
      <h2>{{ t('fiscalPeriods.headline', { year: fiscalYear.year }) }}</h2>

      <ul class="button-group small">
        <li>
          <a href="/#/years/{{ fiscalYear.year }}/positions/new" class="tiny button">{{ t('positions.actions.new') }}</a>
        </li>
      </ul>
    </div>

    <table class="{{ fiscalYear.year }} positions large-12">
      <thead>
        <tr>
          <th width="50" class="cleared month"></th>
          <th width="100">{{ t('positions.listing.invoiceDate') }}</th>
          <th width="100">{{ t('positions.listing.bookingDate') }}</th>
          <th>{{ t('positions.listing.description') }}</th>
          <th width="125">{{ t('positions.listing.account') }}</th>
          <th width="100">{{ t('positions.listing.totalAmount') }}</th>
          <th width="50"></th>
        </tr>
      </thead>

      <tbody>
        {{#positions:index}}
          <tr>
            <td class="cleared month"><month month="{{ positions.monthForPosition(index) }}"></month></td>
            <td>{{ invoiceDate.split('-')[2] }}.{{ invoiceDate.split('-')[1] }}.</td>
            <td>{{ bookingDate }}</td>
            <td>{{ description }}</td>
            <td>{{ accountCodeFrom }} -> {{ accountCodeTo }}</td>
            <td><currency amountCents="{{ totalAmountCents }}" type="{{ type }}" currency="{{ currency }}"/></td>
            <td>
              <a href="#/years/{{ fiscalYear.year }}/positions/{{ id }}" data-method="show">
                <i class="fi-widget"></i>
              </a>
              <a on-click="delete" class="alert">
                <i class="fi-trash"></i>
              </a>
            </td>
          </tr>
        {{/positions}}
      </tbody>

      <tfoot>
        <tr>
          <td class="cleared month">
          </td>
          <td colspan="2">
            {{ t('positions.listing.income') }}: <currency amountCents='{{ totalIncome }}'/>
          </td>
          <td colspan="2">
            {{ t('positions.listing.expenses') }}: <currency amountCents='{{ totalExpense }}'/>
          </td>
          <td colspan="2"><currency amountCents='{{ totalAmount }}'/></td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
