<div class="row">
  <div class="large-12 columns">
    <div class="month">
      <h2>{{ t('fiscalPeriods.headline', { year: fiscalYear.year }) }}</h2>

      <div class="row">
        <div class="large-12 columns">
          <div class="row collapse">
            <div class="small-3 columns">
              <a href="/#/years/{{ fiscalYear.year }}/positions/new" class="tiny button">{{ t('positions.actions.new') }}</a>
            </div>
            <div class="small-1 columns">
              {{#searchQuery}}
              <a href="#" class="button prefix alert" on-click="clearSearch">
                <i class="fi-minus"></i>
              </a>
              {{/searchQuery}}
              &nbsp;
            </div>
            <div class="small-8 columns">
              <input type="text" placeholder="Suche" value="{{ searchQuery }}">
            </div>
          </div>
        </div>
      </div>
    </div>

    <table class="{{ fiscalYear.year }} positions large-12">
      <thead>
        <tr>
          <th width="50" class="cleared month"></th>
          <th width="100">{{ t('positions.listing.invoiceDate') }}</th>
          <th width="100">{{ t('positions.listing.bookingDate') }}</th>
          <th width="100">{{ t('positions.listing.invoiceNumber') }}</th>
          <th>{{ t('positions.listing.description') }}</th>
          <th width="125">{{ t('positions.listing.account') }}</th>
          <th width="130">{{ t('positions.listing.totalAmount') }}</th>
          <th width="130">{{ t('positions.listing.totalVatAmount') }}</th>
          <th width="70"></th>
          <th width="50"></th>
        </tr>
      </thead>

      <tbody>
        {{# filter( positions, searchQuery ):index}}
          <tr>
            <td class="cleared month"><month month="{{ monthForPosition(positions, index) }}"></month></td>
            <td>{{ shortDate(invoiceDate) }}</td>
            <td>{{ shortDate(bookingDate) }}</td>
            <td>{{ invoiceNumber }}</td>
            <td>{{ description }}</td>
            <td>{{ accountCodeFrom }} -> {{ accountCodeTo }}</td>
            <td><currency amountCents="{{ totalAmountCents }}" type="{{ type }}" currency="{{ currency }}"/></td>
            <td><currency amountCents="{{ this.totalVatAmountCents() }}" type="{{ vatType }}" currency="{{ currency }}"/></td>
            <td>{{tax}} %</td>
            <td>
              <a href="#/years/{{ fiscalYear.year }}/positions/{{ id }}" data-method="show">
                <i class="fi-widget"></i>
              </a>
              <a on-click="delete" class="alert">
                <i class="fi-trash"></i>
              </a>
            </td>
          </tr>
        {{/positions}}
      </tbody>

      <tfoot>
        <tr>
          <td class="cleared month">
          </td>
          <td colspan="2">
            {{ t('positions.listing.income') }}: <currency amountCents='{{ totalIncome( filter( positions, searchQuery ) ) }}'/>
          </td>
          <td colspan="3">
            {{ t('positions.listing.expenses') }}: <currency amountCents='{{ totalExpense( filter( positions, searchQuery ) ) }}'/>
          </td>
          <td colspan="1"><currency amountCents='{{ totalAmount( filter( positions, searchQuery ) ) }}'/></td>
          <td colspan="3"><currency amountCents='{{ totalVatAmount( filter( positions, searchQuery ) ) }}'/></td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
