<form class="fiscal-item" on-submit="save">

  {{#position}}
  <div class="row">
    <div class="large-12 columns">
      <h2>Buchung</h2>
    </div>
  </div>

  <div class="row">
    <div class="large-4 columns">
      <label>Art *</label>
      <input type="radio" name="{{ type }}" value="expense" id="typeExpense">
      <label for="typeExpense">Ausgabe</label>
      <input type="radio" name="{{ type }}" value="income" id="typeIncome">
      <label for="typeIncome">Einnahme</label>
    </div>

    <div class="large-8 columns">
      <div class="large-5 columns">
        <label>Konto von</label>
        <account-picker account="{{ accountCodeFrom }}" label="{{ accountLabelFrom }}"></account-picker>
      </div>
      <div class="large-2 columns">
        <span class="account-direction">
          ->
        </span>
      </div>
      <div class="large-5 columns">
        <label>Konto nach</label>
        <account-picker account="{{ accountCodeTo }}" label="{{ accountLabelTo }}"></account-picker>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-4 columns">
      <label>Rechnungsdatum</label>
      <input type="date" name="invoiceDate" value="{{ invoiceDate }}">
    </div>
    <div class="large-4 columns">
      <label>Rechnungsnummer</label>
      <input type="text" name="invoiceNumber" placeholder="z.b. 2014-01-01" value="{{ invoiceNumber }}">
    </div>
    <div class="large-4 columns">
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label>Beschreibung</label>
      <input type="text" name="description" placeholder="Beschreibung" value="{{ description }}">
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="large-4 columns">
      <div class="row collapse">
        <label for="totalAmount">Betrag</label>
        <div class="small-8 columns">
          <input type="text" id="totalAmount" placeholder="Betrag" value="{{ totalAmount }}">
        </div>
        <div class="small-4 columns">
          <select class="postfix" value="{{ currency }}">
            <option value="EUR">EUR</option>
            <option value="USD">USD</option>
          </select>
        </div>
      </div>
    </div>
    <div class="large-8 columns">
      <label>Umsatzsteuer</label>
      <input type="radio" name="{{ tax }}" value="">
      <label for="noTax">nicht anwendbar</label>
      <input type="radio" name="{{ tax }}" value="7">
      <label for="reducedTax">7 %</label>
      <input type="radio" name="{{ tax }}" value="19">
      <label for="regularTax">19 %</label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <hr>
      <div class="row">
        <div class="large-6 columns">

          <label>Anhang</label>
          <input type="file" id="attachment" name="attachment" value="{{ attachment }}">
        </div>
        <div class="large-6 columns">
          {{#attachmentPath}}
            <a href="{{ attachmentPath }}">Download</a>
          {{/attachmentPath}}
        </div>
      </div>
    </div>
  </div>
  {{/position}}

  <div class="row">
    <div class="large-12 columns">
      <div class="form-actions">
        <input class="tiny button" type="submit" value="Speichern"> oder <a on-click="cancel" class="alert">abbrechen</a>
      </div>
    </div>
  </div>
</form>
