<form>
  <div class="row">
    <div class="large-12 columns">
      <h2>Position anlegen</h2>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <div class="form-actions">
        <input class="tiny button" type="button" value="Speichern"> oder <a href="javascript:window.history.back();" class="tiny button alert">abbrechen</a>
      </div>
    </div>
  </div>
</form>
