<a href="#/years/{{ fiscalPeriod.year }}/positions/{{ id }}" data-method="show">
  <i class="fi-widget"></i>
</a>
<a href="#/years/{{ fiscalPeriod.year }}/positions/{{ id }}" data-method="delete" class="alert">
  <i class="fi-trash"></i>
</a>
