<div class="row">
  <h1>Positionen im Jahr {{ year }}</h1>

  <ul class="button-group small">
    <li>
      <a href="/#/years/{{ year }}/items/new" class="tiny button">
      Neue Position anlegen
      </a>
    </li>
  </ul>

  <ul class="{{ year }} items">
  </ul>
</div>
