<div class="well">
  Welcome to Umsatz
</div>
<div>
  {{#link-to 'items.new'}}Create new item{{/link-to}}
  <ul class="items">
    {{#each item in controller}}
      <li class="list-group-item">{{item}}</li>
    {{/each}}
  </ul>
</div>