<div class="well">
  Welcome to Umsatz
</div>

<div>
  {{#link-to 'items.new'}}Create new item{{/link-to}}
  <ul class="items">
    {{#each item in items}}
      <li class="list-group-item">{{ item.title }} ({{l item.date }})</li>
    {{/each}}
  </ul>
</div>